---
import Layout from '../layouts/BlogPost.astro';
import Banner from '../images/danirukun_banner.jpg';
---

<Layout
	title='About Me'
	description='About me'
	pubDate={new Date('February 13 2024')}
	heroImage={Banner.src}>
	<p>
		I am a full stack software engineer with a passion for building cool stuff on the web. I work at
		StreamElements, on everything from sponsorships to live tools. I have experience in video
		streaming, web development, high load systems and computer graphics. I'm a big fan of Elixir,
		TypeScript and Go, as well as all things 3D. In my free time I enjoy travelling to concerts,
		conventions and doing cosplay photography. I'm also deep into Japanese and vtubing culture, as
		well as fashion.
	</p>
</Layout>
