---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import SocialsBar from '../components/SocialsBar.svelte';
import { SITE_TITLE, SITE_DESCRIPTION, SOCIALS } from '../consts';

const profilePicURL = 'https://github.com/DaniruKun.png';
---

<!doctype html>
<html lang='en'>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
			<section
				class='relative mx-auto flex h-[70vh] flex-col place-content-around bg-slate-100 shadow-sm sm:min-h-screen'>
				<div
					id='hero'
					class='flex flex-col place-items-center justify-center space-y-4 align-middle md:flex-row md:items-center md:justify-center md:space-x-6'>
					<section id='brand-title' class='items-center'>
						<span class='text-center text-2xl font-bold'>danirukun</span>
					</section>

					<img
						src={profilePicURL}
						alt='Avatar'
						class='mx-auto w-64 rounded-full border-2 border-black shadow-lg'
					/>

					<section id='navigation' class='mx-auto align-middle'>
						<nav class='flex flex-col space-y-4'>
							<a
								href='/portfolio'
								class='text-center text-lg font-semibold text-primary hover:text-slate-600 md:text-left'
								>Portfolio</a
							>
							<a
								href='/photography'
								class='text-center text-lg font-semibold text-primary hover:text-slate-600 md:text-left'
								>Photography</a
							>
							<a
								href='/blog'
								class='text-center text-lg font-semibold text-primary hover:text-slate-600 md:text-left'
								>Blog</a
							>
							<a
								href='/about'
								class='text-center text-lg font-semibold text-primary hover:text-slate-600 md:text-left'
								>About</a
							>
							<a
								href='/uses'
								class='text-center text-lg font-semibold text-primary hover:text-slate-600 md:text-left'
								>Computing</a
							>
						</nav>
					</section>
				</div>

				<section id='socials' class='mx-auto w-fit px-4 py-2'>
					<SocialsBar socials={SOCIALS} translate />
				</section>
			</section>
			<Footer />
		</main>
	</body>
</html>
