---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SocialsBar from '../components/SocialsBar.svelte';
import ProjectEntry from '../components/ProjectEntry.svelte';
import { PORTFOLIO_PROJECTS, SITE_TITLE, SITE_DESCRIPTION, SOCIALS } from '../consts';

const latestProject = PORTFOLIO_PROJECTS[0];

import { Button } from "../components/ui/button";
import * as Card from '../components/ui/card';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<section class="bg-gradient-to-br from-indigo-300 via-fuchsia-800 to-sky-400 py-8 pb-12">
				<h1 class="py-4 text-center text-6xl font-bold">Welcome</h1>
				<Card.Root class="mx-auto mt-4 max-w-xs lg:max-w-screen-sm">
					<Card.Header>
						<div class="flex flex-row gap-4">
							<img
								src="https://github.com/DaniruKun.png"
								alt="Profile Pic"
								class="aspect-square h-24 w-24 rounded-full border-4"
							/>
							<div class="flex flex-col place-content-center align-middle">
								<Card.Title>DaniruKun</Card.Title>
								<Card.Description>Software Engineer</Card.Description>
							</div>
						</div>
					</Card.Header>
					<Card.Content>
						<article class="py-4">
							I am a software engineer who is passionate the latest and greatest in technology, as
							well as anime, music and virtual entertainment. Check out my full bio in <a
								href="about"
								class="font-semibold">About</a
							>, or the projects I am working on or completed in <a
								href="/portfolio"
								class="font-semibold">Portfolio</a
							>. Feel free to reach out to me about any advice or commissions.
						</article>
					</Card.Content>
					<Card.Footer>
						<p class="text-sm text-muted-foreground">
							<span class="font-medium italic">"DaniruKun"</span> is my online nickname, otherwise I
							go by Daniils Petrovs.
						</p>
					</Card.Footer>
				</Card.Root>
			</section>

			<section class="bg-background py-8 max-w-6xl mx-auto">
				<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
					<div>
							<h2 class="py-4 text-center text-4xl font-bold">Projects</h2>
							<div class="grid grid-cols-1 gap-4 mx-8">
									<ProjectEntry {...latestProject} />
									<Button href="/portfolio" variant='outline'>See more</Button>
							</div>
					</div>
					<div>
							<h2 class="py-4 text-center text-4xl font-bold">Photography</h2>
							<h3 class="py-4 text-center text-2xl font-bold bg-gradient-to-r from-fuchsia-500 to-pink-500 bg-clip-text text-transparent">Coming Soon!</h3>
					</div>
			</div>			
			</section>

			<section>
				<h2 class="py-4 text-center text-4xl font-bold">Socials</h2>
				<SocialsBar socials={SOCIALS} translate />
			</section>
			<Footer />
		</main>
	</body>
</html>
