---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SocialsBar from '../components/SocialsBar.svelte';
import ProjectEntry from '../components/ProjectEntry.svelte';
import VrmAvatarScene from '../components/VrmAvatarScene.svelte';
import { SITE_TITLE, SITE_DESCRIPTION, SOCIALS } from '../consts';

import { Button } from '../components/ui/button';

import { sanityClient } from 'sanity:client';
import type { Project } from '../types';

const latestProject = (await sanityClient.fetch(
	`*[_type == "project"] | order(_createdAt desc) [0]`
)) as Project;
---

<!doctype html>
<html lang='en'>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<section
				class='relative h-[70vh] bg-gradient-to-br from-indigo-200 via-red-200 to-yellow-100 shadow-sm sm:min-h-screen'>
				<VrmAvatarScene client:load />
			</section>

			<section id='about'>
				<h1
					class='scroll-m-20 py-8 pb-8 text-center text-4xl font-extrabold tracking-tight lg:text-5xl'>
					About
				</h1>
				<article class='prose prose-lg mx-auto max-w-xs sm:max-w-sm lg:max-w-2xl'>
					<p class='lg:text-lg'>
						I am a software engineer who is passionate the latest and greatest in
						technology, as well as anime, music and virtual entertainment. Check out my
						full bio in <a href='about' class='font-semibold hover:underline'>
							About
						</a>, or the projects I am working on or completed in <a
							href='/portfolio'
							class='font-semibold hover:underline'>
							Portfolio
						</a>Feel free to reach out to me about any advice or commissions.
					</p>
				</article>
			</section>

			<section class='mx-auto max-w-6xl bg-background py-8'>
				<div class='grid grid-cols-1 gap-4 md:grid-cols-2'>
					<div id='projects'>
						<h1
							class='scroll-m-20 py-8 pb-8 text-center text-4xl font-extrabold tracking-tight lg:text-5xl'>
							Projects
						</h1>
						<div class='mx-8 grid grid-cols-1 gap-4'>
							<ProjectEntry {...latestProject} />
							<Button href='/portfolio' variant='outline' class='rounded-sm'>
								See more
							</Button>
						</div>
					</div>

					<div id='photography'>
						<h1
							class='scroll-m-20 py-8 pb-8 text-center text-4xl font-extrabold tracking-tight lg:text-5xl'>
							Photography
						</h1>
						<div class='mx-8 grid grid-cols-1 gap-4'>
							<Button
								href='/photography'
								variant='outline'
								class='rounded-sm text-center'>
								Preview
							</Button>
						</div>
					</div>
				</div>
			</section>

			<section id='socials'>
				<h1
					class='scroll-m-20 py-8 pb-4 text-center text-4xl font-extrabold tracking-tight lg:text-5xl'>
					Socials
				</h1>
				<SocialsBar socials={SOCIALS} translate />
			</section>
			<Footer />
		</main>
	</body>
</html>
