---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1 class="text-6xl">Hi!</h1>
			<article class="space-y-8">
				<p>
					I am a software engineer who is passionate the latest and greatest in technology, as well as anime, music and virtual entertainment.
					Check out my full bio in <a href="about">About</a>, or the projects I am working on in [Projects](/projects)!
					Feel free to reach out to me about any advice or commissions.
				</p>
			</article>
		</main>
		<Footer />
	</body>
</html>
