---
const today = new Date();
---

<footer class="p-10 text-center text-muted-foreground text-sm bg-background">
	<p>&copy; {today.getFullYear()} Daniils Petrovs. All rights reserved.</p>
	<p>Built in Austria with Astro</p>
</footer>
